body{
    margin: 0;
    padding: 0;
}

.navbar{
    position: fixed;
    background: rgb(0,175,125);
    width: 100%;
    border-bottom: 0.01rem #ffffff;
    box-shadow: 0px 0.5px 5px  rgba(50, 50, 50, 0.77);
}

.container{
    width: 80%;
    height: 56px;
    /* margin: 0 auto; */
    display: flex;
    /* position: relative; */
    margin: 0 auto;
    
}

#linkSerasa{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex: 1 1 0%;
}

.divContent{
   width: 1px;
   display: inline-block; 
   height: 24px;
   margin: 0px 10px;
   background-color: rgba(255,255,255, 0.3);
}

#logo{
    display: inline-block;
    height: 32px;
    margin: 1rem;
    height: 24px;
}

#logo img{
    height: 100%;
}

#menuList{
    /* align-items: center;
    margin: 0;
    padding: 0;
    float: right;
    display: flex;
    justify-content: stretch; */
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

#buttonEntrar{
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    
}

#buttonEntrar button{
    border-radius: 2px;
    border: none;
    user-select: none;
    text-transform: uppercase;
    height: 30px;
    background-color: #ffffff;
    color: rgb(0,175,125);
    text-align: center;
    /* font-size: 12px; */
    /* appearance: none;s */
    /* vertical-align: middle; */
    position: relative;
    /* -webkit-tap-highlight-color: transparent; */
}
#menuList li{
    list-style: none;
    float: left;
}

#menuList li a{
    color: #ffffff;
    height: auto;
    padding: 20px 0px 20px 10px;
    margin: 0px 5px 0px 0px ;
    display: block;
    text-decoration: none;
}

.gridContent{
    height: 450px;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #00af7d, #6dbf67);
}

.grid{
    display: grid;
    grid-template-columns:  400px 400px;
    grid-template-rows: auto auto;
    grid-row-gap: 2rem;
    grid-column-gap: 4rem;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.mt{
    padding-top: 50px;
}

#textTela{
    width: 400px;
    text-align: left;
}
.mt h2{
    color: white;
    font-size: 45px;
    margin-bottom: 0;
}

.mt h3{
    padding: 0;
    color: rgba(255,255,255, 0.8);
}

.card{
    width: 300px;
    height: 100px;
    background: white;
    border-radius: 5px;
    align-content: center;
    padding: 10px;
    border: none;
    box-shadow: 0px 0.5px 5px  rgba(50, 50, 50, 0.77);
}

.card button{
    display: relative;
    width: 275px;
    height: 50px;
    margin: 10px;
    border: none;
    align-content: center;
    background: #ba2f7d;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
.card span{
    margin-left: 50px;

}
.card span img{
    margin-left: 20px;
    text-align: center;
    height: 1rem;
    width: auto;
}

#vantagens{
    padding: 90px;
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.75rem;
    color: var(--theme-text-dark-medium, rgba(0,0,0,0.66));
}

#imagens{
    display:flex;
    justify-content: space-around;
}